
<div fxLayout="row" fxLayoutGap="5%">
  <div fxFlex="33%" class="labelFlex">
    <div fxLayout="row" fxLayoutAlign="end center" class="labelLayout">
      <div fxFlex="0 0 auto">{{label}}</div>
    </div>
  </div>
  <div *ngIf="readOnly" fxFlex fxFlexAlign="start" class="user-data text-truncate valueFlex" >{{value|date: dateFormat}}</div>
  <div *ngIf="!readOnly" fxFlex fxFlexAlign="start" class="user-data valueFlex full-width" >
    <mat-form-field floatLabel="always" class="full-width">
      <input matInput [(ngModel)]="value" (ngModelChange)="valueChange.emit(value)">
    </mat-form-field>
  </div>
</div>
