.large-rounded-card {
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 15px;
  background: #fff;
  color: rgba(0,0,0,.87);
  margin: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.api-cards {
  margin: 20px;
}

mat-sidenav-container {
  height: 100vh;
  /*background-color: lightslategrey;*/
}

mat-card {
  margin: 10px;
}

.list-mat-card {
  margin: 0px;
  padding: 2px !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0) !important;
  border-bottom: 1px dotted grey;
}


.list-mat-card.selected {
  background-color: lightblue;
}

.list-header-mat-card {
  background-color: lightgrey;
}

.list-paginator {
  margin: 0px;
  padding: 5px !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0) !important;
}
