<mat-card>
  <mat-card-title>Profile</mat-card-title>
  <div fxLayout="row" *ngIf="auth.userProfile$ | async as profile">
    <div fxFlex="0 0 auto">
      <div>
        <img [src]="profile.picture" />
      </div>
    </div>
    <div fxFlex="1 1 auto">
      <div fxLayout="column">
        <div fxFlex>
          <app-text-field-display [readOnly]="true" [label]="'Nickname'" [(value)]="profile.nickname"></app-text-field-display>
        </div>
        <div fxFlex>
          <app-text-field-display [readOnly]="true" [label]="'Name'" [(value)]="profile.name"></app-text-field-display>
        </div>
        <div fxFlex>
          <app-text-field-display [readOnly]="true" [label]="'Email'" [(value)]="profile.email"></app-text-field-display>
        </div>
        <div fxFlex>
          <app-text-field-display [readOnly]="true" [label]="'User ID'" [(value)]="profile.sub"></app-text-field-display>
        </div>
      </div>
    </div>
  </div>
</mat-card>
